<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>idNumber</key>
			<integer>60</integer>
			<key>firstName</key>
			<string>Tyler</string>
			<key>lastName</key>
			<string>Ahmer</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>61</integer>
			<key>firstName</key>
			<string>Caelan</string>
			<key>lastName</key>
			<string>Bowyer</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>62</integer>
			<key>firstName</key>
			<string>Doug</string>
			<key>lastName</key>
			<string>Brown</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>63</integer>
			<key>firstName</key>
			<string>Brandon</string>
			<key>lastName</key>
			<string>Conley</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>64</integer>
			<key>firstName</key>
			<string>Ashley</string>
			<key>lastName</key>
			<string>Emert</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>65</integer>
			<key>firstName</key>
			<string>Willie</string>
			<key>lastName</key>
			<string>Hodges</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>66</integer>
			<key>firstName</key>
			<string>Kyle</string>
			<key>lastName</key>
			<string>Jenkins</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>67</integer>
			<key>firstName</key>
			<string>Cullen</string>
			<key>lastName</key>
			<string>Larkin</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>68</integer>
			<key>firstName</key>
			<string>Pat</string>
			<key>lastName</key>
			<string>Lewandowski</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>69</integer>
			<key>firstName</key>
			<string>Justin</string>
			<key>lastName</key>
			<string>Turner</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>70</integer>
			<key>firstName</key>
			<string>Justin</string>
			<key>lastName</key>
			<string>Williams</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>71</integer>
			<key>firstName</key>
			<string>Isaiah</string>
			<key>lastName</key>
			<string>Clark</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>72</integer>
			<key>firstName</key>
			<string>Collin</string>
			<key>lastName</key>
			<string>Clement</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>73</integer>
			<key>firstName</key>
			<string>Tavion</string>
			<key>lastName</key>
			<string>Dunn</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>74</integer>
			<key>firstName</key>
			<string>Audrine</string>
			<key>lastName</key>
			<string>Gharakhanian</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>75</integer>
			<key>firstName</key>
			<string>Joshua</string>
			<key>lastName</key>
			<string>Headley</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>76</integer>
			<key>firstName</key>
			<string>Briana</string>
			<key>lastName</key>
			<string>Humphrey</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>125</integer>
			<key>firstName</key>
			<string>Jerry</string>
			<key>lastName</key>
			<string>Leach</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>126</integer>
			<key>firstName</key>
			<string>Jordan</string>
			<key>lastName</key>
			<string>Miller</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>127</integer>
			<key>firstName</key>
			<string>Sydney</string>
			<key>lastName</key>
			<string>Reeves</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>128</integer>
			<key>firstName</key>
			<string>Bruce</string>
			<key>lastName</key>
			<string>Watson</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>129</integer>
			<key>firstName</key>
			<string>Brandon</string>
			<key>lastName</key>
			<string>Wrightson</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>130</integer>
			<key>firstName</key>
			<string>Sophia</string>
			<key>lastName</key>
			<string>Pigarat</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>131</integer>
			<key>firstName</key>
			<string>Devin</string>
			<key>lastName</key>
			<string>Alif</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>132</integer>
			<key>firstName</key>
			<string>Zahid</string>
			<key>lastName</key>
			<string>Breiannis</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>133</integer>
			<key>firstName</key>
			<string>Jaden</string>
			<key>lastName</key>
			<string>Gerrity</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>134</integer>
			<key>firstName</key>
			<string>Elijah</string>
			<key>lastName</key>
			<string>Hetmeyer</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>135</integer>
			<key>firstName</key>
			<string>Tristan</string>
			<key>lastName</key>
			<string>McNamara</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>136</integer>
			<key>firstName</key>
			<string>Tyree</string>
			<key>lastName</key>
			<string>Shepard</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>137</integer>
			<key>firstName</key>
			<string>Ben</string>
			<key>lastName</key>
			<string>Smith</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>138</integer>
			<key>firstName</key>
			<string>James</string>
			<key>lastName</key>
			<string>Woodland</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>174</integer>
			<key>firstName</key>
			<string>Elizabeth</string>
			<key>lastName</key>
			<string>Aldworth</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>175</integer>
			<key>firstName</key>
			<string>Kevon</string>
			<key>lastName</key>
			<string>Carter</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>176</integer>
			<key>firstName</key>
			<string>Raquawn</string>
			<key>lastName</key>
			<string>Cavanaugh</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>177</integer>
			<key>firstName</key>
			<string>Devonte</string>
			<key>lastName</key>
			<string>Clemons</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>178</integer>
			<key>firstName</key>
			<string>Ke'Shon</string>
			<key>lastName</key>
			<string>Cornish</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>179</integer>
			<key>firstName</key>
			<string>Joel</string>
			<key>lastName</key>
			<string>Friedman</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>180</integer>
			<key>firstName</key>
			<string>Zane</string>
			<key>lastName</key>
			<string>Libby</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>181</integer>
			<key>firstName</key>
			<string>Martin</string>
			<key>lastName</key>
			<string>Mackey</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>182</integer>
			<key>firstName</key>
			<string>Emily</string>
			<key>lastName</key>
			<string>Rowe</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>183</integer>
			<key>firstName</key>
			<string>Ryan</string>
			<key>lastName</key>
			<string>Ward</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>184</integer>
			<key>firstName</key>
			<string>Matthew</string>
			<key>lastName</key>
			<string>Berry</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>185</integer>
			<key>firstName</key>
			<string>Adrian</string>
			<key>lastName</key>
			<string>Brown</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>186</integer>
			<key>firstName</key>
			<string>Nicholas</string>
			<key>lastName</key>
			<string>Martin</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>187</integer>
			<key>firstName</key>
			<string>Matthew</string>
			<key>lastName</key>
			<string>Slattery</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianID</key>
			<array>
				<integer>0</integer>
			</array>
			<key>scheduleID</key>
			<integer>0</integer>
			<key>county</key>
			<string>AAC</string>
		</dict>
	</array>
</plist>
