<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>idNumber</key>
			<integer>1</integer>
			<key>name</key>
			<string>Algebra 1</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>2</integer>
			<key>name</key>
			<string>Biology</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>3</integer>
			<key>name</key>
			<string>Oil Painting</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>4</integer>
			<key>name</key>
			<string>World Civ</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>5</integer>
			<key>name</key>
			<string>Brit Lit</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>6</integer>
			<key>name</key>
			<string>Lunch</string>
			<key>roomID</key>
			<integer>7</integer>
			<key>staffID</key>
			<string></string>
			<key>periodNumber</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>15</integer>
			<key>name</key>
			<string>Homeroom 8</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>33</integer>
			<key>name</key>
			<string>Poetry</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>34</integer>
			<key>name</key>
			<string>Creative Writing</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>35</integer>
			<key>name</key>
			<string>Greek Lit</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>36</integer>
			<key>name</key>
			<string>Comedic Eulogies</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>staffID</key>
			<string>27</string>
			<key>periodNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>37</integer>
			<key>name</key>
			<string>Algebra 2</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>38</integer>
			<key>name</key>
			<string>Pre Calc</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>39</integer>
			<key>name</key>
			<string>Geometry</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>40</integer>
			<key>name</key>
			<string>Bean Counting</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>41</integer>
			<key>name</key>
			<string>Env Sci</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>42</integer>
			<key>name</key>
			<string>Earth Sci</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>43</integer>
			<key>name</key>
			<string>Physics</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>44</integer>
			<key>name</key>
			<string>Witchcraft</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>45</integer>
			<key>name</key>
			<string>Sculpture</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>46</integer>
			<key>name</key>
			<string>Collage</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>47</integer>
			<key>name</key>
			<string>Tracing</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>48</integer>
			<key>name</key>
			<string>LiteBrite</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>49</integer>
			<key>name</key>
			<string>Amer Govt</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>50</integer>
			<key>name</key>
			<string>US Hist</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>51</integer>
			<key>name</key>
			<string>Revolutions</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>52</integer>
			<key>name</key>
			<string>Presidential Tweets</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>53</integer>
			<key>name</key>
			<string>Homeroom 9</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>staffID</key>
			<string>77</string>
			<key>periodNumber</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>54</integer>
			<key>name</key>
			<string>Homeroom 10</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>staffID</key>
			<string>78</string>
			<key>periodNumber</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>55</integer>
			<key>name</key>
			<string>Homeroom 11</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>staffID</key>
			<string>79</string>
			<key>periodNumber</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>56</integer>
			<key>name</key>
			<string>Homeroom 12</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>staffID</key>
			<string>80</string>
			<key>periodNumber</key>
			<integer>0</integer>
		</dict>
	</array>
</plist>
