<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>idNumber</key>
			<integer>27</integer>
			<key>firstName</key>
			<string>Edna</string>
			<key>lastName</key>
			<string>Crabtree</string>
			<key>isMale</key>
			<false/>
			<key>subject</key>
			<string>English</string>
			<key>roomID</key>
			<integer>14</integer>
			<key>scheduleID</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>77</integer>
			<key>firstName</key>
			<string>Albert</string>
			<key>lastName</key>
			<string>Gebra</string>
			<key>isMale</key>
			<true/>
			<key>subject</key>
			<string>Math</string>
			<key>roomID</key>
			<integer>10</integer>
			<key>scheduleID</key>
			<integer>102</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>78</integer>
			<key>firstName</key>
			<string>Merlin</string>
			<key>lastName</key>
			<string>Wizard</string>
			<key>isMale</key>
			<true/>
			<key>subject</key>
			<string>Science</string>
			<key>roomID</key>
			<integer>11</integer>
			<key>scheduleID</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>79</integer>
			<key>firstName</key>
			<string>Penelope</string>
			<key>lastName</key>
			<string>Craftwerk</string>
			<key>isMale</key>
			<false/>
			<key>subject</key>
			<string>Art</string>
			<key>roomID</key>
			<integer>12</integer>
			<key>scheduleID</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>80</integer>
			<key>firstName</key>
			<string>Gertrude</string>
			<key>lastName</key>
			<string>Oldtymur</string>
			<key>isMale</key>
			<false/>
			<key>subject</key>
			<string>History</string>
			<key>roomID</key>
			<integer>13</integer>
			<key>scheduleID</key>
			<integer>105</integer>
		</dict>
	</array>
</plist>
