<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>idNumber</key>
			<integer>21</integer>
			<key>firstName</key>
			<string>Lois</string>
			<key>lastName</key>
			<string>Brown</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianIDs</key>
			<array>
				<integer>28</integer>
			</array>
			<key>scheduleID</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>22</integer>
			<key>firstName</key>
			<string>Louise</string>
			<key>lastName</key>
			<string>Griffin</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>27</integer>
			<key>scheduleID</key>
			<integer>17</integer>
			<key>guardianIDs</key>
			<array>
				<integer>29</integer>
			</array>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>23</integer>
			<key>firstName</key>
			<string>Dennis</string>
			<key>lastName</key>
			<string>Powell</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianIDs</key>
			<array>
				<integer>30</integer>
			</array>
			<key>scheduleID</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>24</integer>
			<key>firstName</key>
			<string>Billy</string>
			<key>lastName</key>
			<string>Stewart</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianIDs</key>
			<array>
				<integer>31</integer>
			</array>
			<key>scheduleID</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>25</integer>
			<key>firstName</key>
			<string>Brian</string>
			<key>lastName</key>
			<string>Foster</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>27</integer>
			<key>guardianIDs</key>
			<array>
				<integer>32</integer>
			</array>
			<key>scheduleID</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>57</integer>
			<key>firstName</key>
			<string>Brenda</string>
			<key>lastName</key>
			<string>Rogers</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianIDs</key>
			<array>
				<integer>81</integer>
			</array>
			<key>scheduleID</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>58</integer>
			<key>firstName</key>
			<string>Christopher</string>
			<key>lastName</key>
			<string>Price</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianIDs</key>
			<array>
				<integer>82</integer>
			</array>
			<key>scheduleID</key>
			<integer>107</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>59</integer>
			<key>firstName</key>
			<string>Judy</string>
			<key>lastName</key>
			<string>Washington</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianIDs</key>
			<array>
				<integer>83</integer>
			</array>
			<key>scheduleID</key>
			<integer>108</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>60</integer>
			<key>firstName</key>
			<string>Joshua</string>
			<key>lastName</key>
			<string>Barnes</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianIDs</key>
			<array>
				<integer>84</integer>
			</array>
			<key>scheduleID</key>
			<integer>109</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>61</integer>
			<key>firstName</key>
			<string>Diana</string>
			<key>lastName</key>
			<string>Walker</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>77</integer>
			<key>guardianIDs</key>
			<array>
				<integer>85</integer>
			</array>
			<key>scheduleID</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>62</integer>
			<key>firstName</key>
			<string>Carolyn</string>
			<key>lastName</key>
			<string>Wood</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianIDs</key>
			<array>
				<integer>86</integer>
			</array>
			<key>scheduleID</key>
			<integer>111</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>63</integer>
			<key>firstName</key>
			<string>Laura</string>
			<key>lastName</key>
			<string>Flores</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianIDs</key>
			<array>
				<integer>87</integer>
			</array>
			<key>scheduleID</key>
			<integer>112</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>64</integer>
			<key>firstName</key>
			<string>Bruce</string>
			<key>lastName</key>
			<string>Wright</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianIDs</key>
			<array>
				<integer>88</integer>
			</array>
			<key>scheduleID</key>
			<integer>113</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>65</integer>
			<key>firstName</key>
			<string>Elizabeth</string>
			<key>lastName</key>
			<string>Nelson</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianIDs</key>
			<array>
				<integer>89</integer>
			</array>
			<key>scheduleID</key>
			<integer>114</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>66</integer>
			<key>firstName</key>
			<string>Lori</string>
			<key>lastName</key>
			<string>Bryant</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>78</integer>
			<key>guardianIDs</key>
			<array>
				<integer>90</integer>
			</array>
			<key>scheduleID</key>
			<integer>115</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>67</integer>
			<key>firstName</key>
			<string>Alan</string>
			<key>lastName</key>
			<string>Lewis</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianIDs</key>
			<array>
				<integer>91</integer>
			</array>
			<key>scheduleID</key>
			<integer>116</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>68</integer>
			<key>firstName</key>
			<string>Ronald</string>
			<key>lastName</key>
			<string>Ross</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianIDs</key>
			<array>
				<integer>92</integer>
			</array>
			<key>scheduleID</key>
			<integer>117</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>69</integer>
			<key>firstName</key>
			<string>Rachel</string>
			<key>lastName</key>
			<string>Martinez</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianIDs</key>
			<array>
				<integer>93</integer>
			</array>
			<key>scheduleID</key>
			<integer>118</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>70</integer>
			<key>firstName</key>
			<string>Melissa</string>
			<key>lastName</key>
			<string>Anderson</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianIDs</key>
			<array>
				<integer>94</integer>
			</array>
			<key>scheduleID</key>
			<integer>119</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>71</integer>
			<key>firstName</key>
			<string>Carolyn</string>
			<key>lastName</key>
			<string>Garcia</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>79</integer>
			<key>guardianIDs</key>
			<array>
				<integer>95</integer>
			</array>
			<key>scheduleID</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>72</integer>
			<key>firstName</key>
			<string>Jason</string>
			<key>lastName</key>
			<string>Phillips</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>80</integer>
			<key>guardianIDs</key>
			<array>
				<integer>96</integer>
			</array>
			<key>scheduleID</key>
			<integer>121</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>73</integer>
			<key>firstName</key>
			<string>Emily</string>
			<key>lastName</key>
			<string>Hill</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>80</integer>
			<key>guardianIDs</key>
			<array>
				<integer>97</integer>
			</array>
			<key>scheduleID</key>
			<integer>122</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>74</integer>
			<key>firstName</key>
			<string>Cynthia</string>
			<key>lastName</key>
			<string>Young</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>80</integer>
			<key>guardianIDs</key>
			<array>
				<integer>98</integer>
			</array>
			<key>scheduleID</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>75</integer>
			<key>firstName</key>
			<string>Henry</string>
			<key>lastName</key>
			<string>Morgan</string>
			<key>isMale</key>
			<true/>
			<key>staffID</key>
			<integer>80</integer>
			<key>guardianIDs</key>
			<array>
				<integer>100</integer>
			</array>
			<key>scheduleID</key>
			<integer>124</integer>
		</dict>
		<dict>
			<key>idNumber</key>
			<integer>76</integer>
			<key>firstName</key>
			<string>Mary</string>
			<key>lastName</key>
			<string>Cook</string>
			<key>isMale</key>
			<false/>
			<key>staffID</key>
			<integer>80</integer>
			<key>guardianIDs</key>
			<array>
				<integer>101</integer>
			</array>
			<key>scheduleID</key>
			<integer>125</integer>
		</dict>
	</array>
</plist>
